<footer>
    <div class="container">
        <p><a target="_blank" href="#">每日更新</a><span>-</span><a target="_blank" href="#">分类小说</a><span>-</span><a target="_blank" href="#">小说排名</a><span>-</span><a target="_blank" href="#">热门小说</a><span>-</span><a target="_blank" href="#">女生专区</a></p>
        <p><a target="_blank" href="#">关于我们</a><span>|</span><a target="_blank" href="#">友情链接</a><span>|</span><a target="_blank" href="#">意见反馈</a><span>|</span><a target="_blank" href="#">帮助中心</a><span>|</span><a target="_blank" href="#">联系我们</a></p>
        <p>免责条款：本站的所有文学作品均由网友自发上传提供,并不代表本站观点和立场.本站的作品所有权归原作者所有!</p>
        <p>Copyright © 2004-2012 <a href="http://www.woshuwu.com">我书屋网（woshuwu.com）</a>All rights reserved.</p>
    </div>
</footer>